/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require normalize
 *= require gridism
 */

body {
  background-color: #FEBC0B;
}
header {
  background-color: #D5D6D9;
  margin-bottom: 20px;
}

header h1 {
  color: #EA8825;
  font-size: 3.5em;
  margin: 0;
  font-family: 'Six Caps', sans-serif;
}

nav {
  float: right;
  margin-top: 30px;
}

.container {
  text-align: center;
}

ul {
  list-style: none;
}

.list {
  margin-left: 10px;
}